:root {
	--dm-bg1: #262626;
	--dm-bg2: #2f2f2f;

	--dm-border1: #424242;
	--dm-border2: #4c4c4c;

	--dm-text: #aaaaaa;

	--dm-tile-border: #303030;
	--dm-tile-filter: invert(100%) hue-rotate(190deg) brightness(100%) contrast(90%) blur(0px);
}
svg:has(path[stroke=red]) {
	opacity: 0.3;
	path { fill-opacity: 1; }
}

path:not([stroke=red]) {
	opacity: 0.8;
	fill-opacity: 0.35;
}

.fas {
	font-size: 28px;
	background-size: 44px 44px;
	width: 44px !important;
	height: 44px !important;
	&:before {
		color: black;
		position: absolute;
		margin: 7px 8px;
		right: 0;
	}
}

*:has(> .fas) {
	background-size: 44px 44px;
	width: 44px;
	height: 44px;
}

body {
	margin: 0;

	&:has(label:first-of-type input[type=checkbox]:not(:checked)) {
		.leaflet-tile {
			filter: none !important;
			transition: all 0.5s;
		}

		.leaflet-container {
			transition: all 0.5s;
		}
	
		.leaflet-control, .leaflet-bar a {
			transition: background 0.5s, color 0.5s, border 0.5s;		
		}
	
		.fas:before {
			transition: all 0.5s;		
		}
	}

	&:has(label:first-of-type input[type=checkbox]:checked) {
		&:has(label:last-of-type input[type=radio]:not(:checked)) .leaflet-tile {
			filter: var(--dm-tile-filter, none) !important;
			transition: all 0.5s;
		}

		.leaflet-container {
			background: var(--dm-tile-border) !important;
			transition: all 0.5s;
		}
	
		.leaflet-control, .leaflet-bar a {
			background: var(--dm-bg1) !important;
			color: var(--dm-text) !important;
			border: 1px solid var(--dm-border1) !important;
			transition: background 0.5s, color 0.5s, border 0.5s;		
			
			&:not(input):hover {
				background: var(--dm-bg2) !important;
				border: 1px solid var(--dm-border2) !important;
			}
		}
	
		.fas:before {
			color: var(--dm-text) !important;
			transition: all 0.5s;		
		}
	}
}

input[type=checkbox] + span,
input[type=radio	 ] + span {
	user-select: none;
}