:root {
	--dm-bg1: #1f2937;
	--dm-bg2: #374151;

	--wm-bg1: white;
	--wm-bg2: #f4f4f4;
	--wm-bg3: #dee6ee;

	--dm-border1: #465161;
	--dm-border2: #556376;

	--dm-text: #9ca3af;
	--wm-text: #4b5563;

	--col-btn: #ef4444;
	--col-btn-hl: #f87171;

	--col-pink: #f472b6;
	--col-pink-hl: #f9a8d4;

	--col-dock: #f8fafc;
	--col-dock-hl: #cbd5e1;

	--wm-icon: rgba(0,0,0,0.65);
	--wm-border1: rgba(0,0,0,0.2);

	--dm-tile-border: #303030;
	--dm-tile-filter: invert(100%) hue-rotate(190deg) brightness(100%) contrast(90%) blur(0px);
	--pink-tile-filter: invert(20%) hue-rotate(110deg) contrast(90%) blur(0px) brightness(110%); /* pink filter */
	--pink-alert-filter: invert(20%) hue-rotate(320deg) contrast(90%) blur(0px) brightness(125%); /* pink filter */
}
svg:has(path[stroke=red]) {
	opacity: 0.3;
	& path { fill-opacity: 1; }
}

path:not([stroke=red]) {
	opacity: 0.8;
	fill-opacity: 0.35;
}

.p-progress-spinner-circle {
	stroke: var(--col-btn) !important;
}

.fas {
	font-size: 28px;
	background-size: 44px 44px;
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
	position: relative;
}

.lucide {
	transform: scale(1.5);
} 

*:has(> .fas) {
	background-size: 44px 44px;
	width: 44px;
	height: 44px;
}

body {
	margin: 0;
}

input[type=checkbox] + span,
input[type=radio	 ] + span {
	user-select: none;
}

section:has(section) {
	position: fixed;
	width: 100%;
	height: 100%; 
}

#ui {
	z-index: 2;
	pointer-events: none;
	margin: 10px;

	& * {
		pointer-events: auto;
	}
}

#dock {
	justify-content: center;
	display: flex;

	&:has(.p-buttonset) {
		position: fixed;
		right: 0;
		left: 0;
	}
}

.p-dataview .p-dataview-content {
	background: none;
}

.p-card.p-component {
	background-color: var(--dm-border1);
	color: white;
	overflow: hidden;
	box-shadow: none;
	border: none;
	margin-bottom: 12px;
}

.p-card-body {
	padding: 0;
}
.p-card-title,
.p-card-subtitle {
	background-color: var(--col-btn);
	width: 100%;
	padding-inline: 16px;
	margin-bottom: 0;
	padding-bottom: 4px;
	color: white;
	text-align: center;

	&.p-card-subtitle {
		color: var(--col-dock);
	}
}
.p-card-content {
	padding-inline: 16px;
}

/* LIGHT */
body[theme=light] {
  & .leaflet-control-zoom span {
    color: var(--wm-icon) !important;
  }

	& .leaflet-tile,
	& .leaflet-container,
	& .fas:before {
		transition: all 0.5s;
	}

	& .leaflet-control, & .leaflet-bar a {
		border-width: 1px !important;
		border-style: solid !important;
		border-color: var(--wm-border1) !important;
		transition: background 0.5s, color 0.5s, border-color 0.5s;
	}

  & .p-buttonset {
    border-color: var(--wm-border1) !important;

    & .p-button:first-of-type, & .p-button:last-of-type {
			width: 48vw;
			max-width: 400px;
      background: var(--wm-bg1) !important;
      color: var(--wm-icon) !important;
  
      &:not(:disabled):hover { 
        background: var(--wm-bg2) !important;
      }
    }

		position: fixed;
		bottom: 0;
		margin: 32px;
		margin-inline: 0px;

		border-width: 1px;
		border-style: solid;
		border-radius: 120px;
		overflow: hidden;
		
		& .p-button-rounded {
			border-radius: 10rem !important;
			position: fixed;
			z-index: 4;
			width: 80px !important;
			height: 80px !important;
			transform: translate(-32px, -40px);
		}

		& .p-button:first-child { transform: translateX( 1px); }
		& .p-button:last-child  { transform: translateX(-1px); }
  }
  
  /* UI */
  & .p-button {
		background: var(--col-btn);
		border: var(--col-btn);
		width: 4rem;
		height: 4rem;
		box-shadow: none !important;
		justify-content: center;

		&:not(:active):hover { 
			background: var(--col-btn-hl);
		}

		& .pi-map-marker {
			transform: scale(1.5);
		}

		& .fas {
			width: 0 !important;
			height: 0 !important;
			left: 0 !important;
			bottom: 0 !important;
			font-size: 48px !important;
			margin: calc((80px - 48px) / 2);
			text-align: center;
			position: relative;
		}
		& .fas:before {
			color: white !important;
		}
	}

	& .p-card.p-component {
		background-color: var(--wm-bg3);
		color: var(--wm-text);
	}
	
	& #btn-close, .p-dialog-header-close {
		color: var(--dm-bg1);
	}

	& .setting h3 {
		color: var(--wm-text) !important;
	}

	& .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
		color: var(--wm-text);
		background: var(--wm-bg3);
	}

	& .p-dropdown.p-focus {
		box-shadow: none !important;
	}

	& .p-dropdown span {
		color: var(--wm-text) !important;
	}

	& .p-divider.p-divider-horizontal:before {
		border-top: solid var(--col-dock-hl) !important;
	}

	& .p-toast {
		& * {
			color: var(--col-btn);
		}

		& .p-toast-message.p-toast-message-success {
			background-color: rgba(239, 68, 68, 0.2) !important;
			border-left: 6px solid var(--col-btn);

			& .p-toast-icon-close:hover {
				background: rgba(239, 68, 68, 0.2) !important;
			}
		}
	}

	& .settings-menu .p-button:last-of-type {
		&:not(:hover) { color: var(--wm-text) !important; }
	}

	& .p-confirm-dialog-reject {
		color: var(--wm-text) !important;
		border-color: var(--col-btn) !important;
		&:hover {
			color: white !important;
			border-color: var(--col-btn-hl) !important;
		}
	}

	& .setting-key {
		color: var(--wm-text) !important;
	}
}

/* DARK */
body[theme=dark] {
  &:has(label:last-of-type input[type=radio]:not(:checked)) .leaflet-tile {
    filter: var(--dm-tile-filter, none) !important;
  }

  & .leaflet-container {
    background: var(--dm-tile-border) !important;
		transition: all 0.5s;
  }

  & .leaflet-control, & .leaflet-bar a {
    background: var(--dm-bg1) !important;
    color: var(--dm-text) !important;
    border-color: var(--dm-border1) !important;
		border-width: 1px !important;
		border-style: solid !important;
		transition: background 0.5s, color 0.5s, border-color 0.5s;
    
    &:not(input):hover {
      background: var(--dm-bg2) !important;
      border-color: var(--dm-border2) !important;
    }
  }

	& .leaflet-tile {
		transition: all 0.5s;
	}

  & .fas:before {
    color: var(--dm-text) !important;
		transition: all 0.5s;
  }

  & .p-buttonset {
    border-color: var(--dm-border1) !important;

    & .p-button:first-of-type, & .p-button:last-of-type {
      background: var(--dm-bg1) !important;
      color: var(--dm-text) !important;
			width: 48vw;
			max-width: 400px;
  
      &:not(:active):hover { 
        background: var(--dm-bg2) !important;
      }
    }

		position: fixed;
		bottom: 0;
		margin: 32px;
		margin-inline: 0px;

		border-width: 1px;
		border-style: solid;
		border-radius: 120px;
		overflow: hidden;
		
		& .p-button-rounded {
			border-radius: 10rem !important;
			position: fixed;
			z-index: 4;
			width: 80px !important;
			height: 80px !important;
			transform: translate(-32px, -40px);
		}

		& .p-button:first-child { transform: translateX( 1px); }
		& .p-button:last-child  { transform: translateX(-1px); }
  }

  & .p-sidebar {
    background: var(--dm-bg1) !important;
    color: var(--dm-text) !important;
    
    & h2 {
      color: white !important;
    }
  }

  /* UI */
  & .p-button {
		background: var(--col-btn);
		border: var(--col-btn);
		width: 4rem;
		height: 4rem;
		box-shadow: none !important;
		justify-content: center;

		&:not(:disabled):hover { 
			background: var(--col-btn-hl);
		}
		& .pi-map-marker {
			transform: scale(1.5);
		}

		& .fas {
			width: 0 !important;
			height: 0 !important;
			left: 0 !important;
			bottom: 0 !important;
			font-size: 48px !important;
			margin: calc((80px - 48px) / 2);
			text-align: center;
			position: relative;
		}
		& .fas:before {
			color: white !important;
		}
	}

	& .p-card.p-component {
		background-color: var(--dm-border1);
		color: white;
	}

	& #btn-close, .p-dialog-header-close {
		color: white;
	}

	& .p-menuitem-content {
		padding: 0.25rem 0;
		& span {
			color: white !important;
		}
		&:hover {
			background-color: var(--dm-border1) !important;
		}
	}

	& .setting h3 {
		color: white !important;
	}

	& .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
		color: white;
		background: var(--dm-border1);
	}

	& .p-dropdown.p-focus {
		box-shadow: none !important;
	}

	& .p-dropdown span {
		color: white !important;
	}
	& .p-dropdown-items-wrapper {
		background: var(--dm-bg2);

		& li {
			color: white;

			&:hover, &.p-highlight {
				background-color: var(--dm-border1);
			}
		}
	}

	& .p-divider.p-divider-horizontal:before {
		border-top: solid var(--wm-text) !important;
	}

	& .p-inputtext:not(.p-dropdown-label) {
		background-color: var(--dm-bg2);
		color: white;
		border-color: transparent !important;
	}

	& .p-dataview-emptymessage {
		color: var(--wm-text);
	}

	& .p-autocomplete-panel ul {
		background-color: var(--dm-bg2);
		& li {
			color: white;

			&:hover {
				background-color: var(--dm-border2);
			}
		}
	}

	& .p-toast {
		& * {
			color: var(--col-btn);
		}

		& .p-toast-message.p-toast-message-success {
			background-color: rgba(239, 68, 68, 0.2) !important;
			border-left: 6px solid var(--col-btn);

			& .p-toast-icon-close:hover {
				background: rgba(239, 68, 68, 0.2) !important;
			}
		}
	}

	& .p-confirm-dialog-reject {
		color: white !important;
		border-color: var(--col-btn) !important;
		&:hover {
			border-color: var(--col-btn-hl) !important;
		}
	}

	& .p-dialog {
		background-color: var(--dm-bg2) !important;
		& > * {
			background-color: var(--dm-bg2) !important;
		}

		& .p-dialog-header {
			color: white !important;
		}

		& .p-dialog-content > * {
			color: var(--dm-text) !important;
		}
	}

	& .setting-key {
		color: var(--dm-text) !important;
	}
}

/* PINK */
body[theme=pink] {
	& .leaflet-interactive {
    filter: var(--pink-alert-filter, none) !important;
	}

	&:has(label:last-of-type input[type=radio]:not(:checked)) .leaflet-tile {
    filter: var(--pink-tile-filter, none) !important;
  }

  & .leaflet-control-zoom span {
    color: var(--wm-icon) !important;
  }

	& .leaflet-tile,
	& .leaflet-container,
	& .fas:before {
		transition: all 0.5s;
	}

	& .leaflet-control, & .leaflet-bar a {
		border-width: 1px !important;
		border-style: solid !important;
		border-color: var(--wm-border1) !important;
		transition: background 0.5s, color 0.5s, border-color 0.5s;
	}

  & .p-buttonset {
    border-color: var(--wm-border1) !important;

    & .p-button:first-of-type, & .p-button:last-of-type {
			width: 48vw;
			max-width: 400px;
      background: var(--wm-bg1) !important;
      color: var(--wm-icon) !important;

      &:not(:disabled):hover {
        background: var(--wm-bg2) !important;
      }
    }

		position: fixed;
		bottom: 0;
		margin: 32px;
		margin-inline: 0px;

		border-width: 1px;
		border-style: solid;
		border-radius: 120px;
		overflow: hidden;

		& .p-button-rounded {
			border-radius: 10rem !important;
			position: fixed;
			z-index: 4;
			width: 80px !important;
			height: 80px !important;
			transform: translate(-32px, -40px);
		}

		& .p-button:first-child { transform: translateX( 1px); }
		& .p-button:last-child  { transform: translateX(-1px); }
  }

  /* UI */
  & .p-button {
		background: var(--col-pink);
		border: var(--col-pink);
		width: 4rem;
		height: 4rem;
		box-shadow: none !important;
		justify-content: center;

		&:not(:active):hover {
			background: var(--col-pink-hl);
		}

		& .pi-map-marker {
			transform: scale(1.5);
		}

		& .fas {
			width: 0 !important;
			height: 0 !important;
			left: 0 !important;
			bottom: 0 !important;
			font-size: 48px !important;
			margin: calc((80px - 48px) / 2);
			text-align: center;
			position: relative;
		}
		& .fas:before {
			color: white !important;
		}
	}

	& .p-card.p-component {
		background-color: var(--wm-bg3);
		color: var(--wm-text);
	}

	& #btn-close, .p-dialog-header-close {
		color: var(--dm-bg1);
	}

	& .setting h3 {
		color: var(--wm-text) !important;
	}

	& .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
		color: var(--wm-text);
		background: var(--wm-bg3);
	}

	& .p-dropdown.p-focus {
		box-shadow: none !important;
	}

	& .p-dropdown span {
		color: var(--wm-text) !important;
	}

	& .p-divider.p-divider-horizontal:before {
		border-top: solid var(--col-dock-hl) !important;
	}

	& .p-checkbox .p-checkbox-box {
		border-color: var(--col-pink) !important;

		&.p-highlight {
			background: var(--col-pink) !important;
			border-color: var(--col-pink) !important;

			&:not(:active):not(:disabled):hover {
				background: var(--col-pink-hl) !important;
				border-color: var(--col-pink-hl) !important;
			}
		}
	}

	& .p-dropdown {
		border-color: var(--col-pink) !important;
	}

	& .p-toast {
		& * {
			color: var(--col-pink);
		}

		& .p-toast-message.p-toast-message-success {
			background-color: rgba(249, 168, 212, 0.2) !important;
			border-left: 6px solid var(--col-pink);

			& .p-toast-icon-close:hover {
				background: rgba(249, 168, 212, 0.2) !important;
			}
		}
	}

	& .p-card-title,
	& .p-card-subtitle {
		background-color: var(--col-pink);
	}

	& .p-progress-spinner-circle {
		stroke: var(--col-pink) !important;
	}

	& .p-chip {
		background-color: var(--col-pink);
	}

	& .settings-menu .p-button:last-of-type {
		border-color: var(--col-pink) !important;

		&:not(:hover) { color: var(--wm-text) !important; }
		&:hover { border-color: var(--col-pink-hl) !important; }
	}

	& .p-confirm-dialog-reject {
		color: var(--wm-text) !important;
		border-color: var(--col-pink) !important;
		&:hover {
			color: white !important;
			border-color: var(--col-pink-hl) !important;
		}
	}

	& .setting-key {
		color: var(--wm-text) !important;
	}
}

#btn-close, .p-dialog-header-close {
	background-color: transparent;
	padding: 0;
	width: 42px;
	height: 42px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
}

.sidebar-header {
	display: inline-flex;
	width: 100%;
	& h2 {
		width: auto;
	}
}

.p-menu {
	padding: 0;
	background: transparent;
	border: none;
	border-radius: 0;
	width: calc(100% + 40px);
	margin-inline: -20px;

	& .p-menuitem-content, & span {
		font-size: large;
		padding-top: .25rem;
		padding-bottom: .25rem;
	}
	
	& .p-focus {
		background: none !important;

		& .p-menuitem-content {
			background-color: transparent !important;
		}
	}
}

.p-checkbox {
	margin-inline: 3px;
}

.p-checkbox .p-checkbox-box {
	background: transparent;
	border-color: var(--col-btn);

	&.p-highlight {
		background: var(--col-btn);
		border-color: var(--col-btn);

		&:not(:active):not(:disabled):hover {
			background: var(--col-btn-hl);
			border-color: var(--col-btn-hl);
		}
	}

	& .p-checkbox-icon {
		color: white !important;
		font-weight: bolder !important;

		& path {
			fill-opacity: 1; 
			opacity: 1; 
		}
	}
}

.p-dropdown {
	background-color: transparent;
	border-color: var(--col-btn);

	& path {
		fill-opacity: 1;
		opacity: 1;
	}
}


.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;

	& .setting-key {
		margin-inline: 18px;
		& h3 {
			margin-bottom: 6px;
		}
		& p {
			margin-top: 0px;
		}
	}

	& .setting-value > .p-checkbox {
		transform: scale(1.5);
	}
}

.p-divider.p-divider-horizontal {
	margin: 0 !important;
}

.settings-menu {
	& .p-button {
		font-size: x-large;
		font-weight: 550;
		width: auto !important;
		height: auto !important;
		padding: 12px 14px;
		margin-top: 24px;
	}

	& > div:last-of-type {
		width: 100%;
		display: flex;
		justify-content: space-between;

		& .p-button:last-of-type {
			box-sizing: border-box !important;
			border: 2px solid;

			border-color: var(--col-btn);

			&:hover { border-color: var(--col-btn-hl); }

			&:not(:hover) {
				background-color: transparent;
			}
		}
	}
}

.p-dataview.p-dataview-list .p-dataview-content > .p-grid > div {
	border: none !important;
}

.p-toast .p-toast-message.p-toast-message-success {
	background-color: rgba(16, 185, 129, 0.2) !important;
}

.sidebar-header:has(> .p-inputwrapper) {
	gap: 12px;
}

.p-inputwrapper {
	width: 100%;

	& input {
		width: 100%;
		border-radius: 64px;
		font-size: larger;
	}

	& + button {
		padding: 0 !important;
		padding-inline: 20px !important;
		width  : 64px !important;
		height : 64px !important;
	}
}

.sidebar-header:has(.p-inputwrapper) {
	padding-bottom: 16px;
}

.p-inputtext:focus {
	box-shadow: none !important;
	border-color: transparent !important;
}

.p-autocomplete-panel {
	margin-top: 4px;
}

.p-autocomplete-panel li {
	text-align: match-parent;
}

.p-dataview-emptymessage {
	text-align: center;
}

.p-inputtext:not(.p-dropdown-label) {
	border-color: var(--col-dock-hl) !important;
}

.p-chip {
	background-color: var(--col-btn);
	color: var(--col-dock);
	margin: 2px;
}

.p-confirm-dialog-reject {
	&:not(:hover) {
		background: transparent !important;
	}

	& .p-button-label {
		transition-duration: 0s !important;
	}
}

.p-confirm-dialog-reject,
.p-confirm-dialog-accept {
	border: 2px solid transparent !important;
	font-size: x-large !important;
	font-weight: 550 !important;
	padding: 12px 18px !important;
	height: auto !important;
	width: auto !important;
}

.p-dialog-header-close path {
	opacity: 1;
	fill-opacity: 1;
}

.stats-view {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.chart-wrapper canvas {
	background: none !important;
}

.chartjs-tooltip {
	display: none;
}

.p-autocomplete-panel {
	background: transparent;
	& div {
		border-radius: 16px;
	}
}

@media all and (min-width: 600px) {
	*::-webkit-scrollbar {
		width: 12px;
	}
	*::-webkit-scrollbar-track {
		background: var(--wm-bg2);
		border: 2px solid var(--wm-bg3);
		border-radius: 20px;
	}
	*::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background-color: var(--dm-text)
	}
	*::-webkit-scrollbar-thumb:hover {
		background-color: var(--col-dock-hl);
	}

	[theme="dark"] *::-webkit-scrollbar-track {
		background: var(--dm-bg1);
		border: 2px solid var(--dm-bg2);
		border-radius: 20px;
	}
	[theme="dark"] *::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background-color: var(--dm-border1)
	}
	[theme="dark"] *::-webkit-scrollbar-thumb:hover {
		background-color: var(--dm-border2);
	}
}

.p-dialog {
	margin-inline: 12px;
	background-color: var(--wm-bg1) !important;
}

.p-dropdown-items-wrapper {
	border-radius: 6px;
}

body[language="he"],
body[language="ar"] {
	& .p-sidebar *,
	& .p-button *,
	& .p-dialog *,
	& .leaflet-control-layers-base {
		direction: rtl;
	}

	& .p-dialog-footer {
		text-align: left;
	}

	& .p-dialog-footer,
	& .settings-menu > :last-child {
		direction: ltr;
	}

	& #btn-close {
		margin-left: 0;
		margin-right: auto;
	}
}

.leaflet-popup-content-wrapper {
	text-align: center;
}

.p-menuitem-icon {
	margin: 0px;
}
.p-menuitem-link,
.p-toast-message-content,
.p-dialog-content {
	gap: 12px;
}

.p-confirm-dialog-icon {
	transform: scale(0.8);
}