:root {
    --dm-bg1: #262626;
	--dm-bg2: #2f2f2f;

    --dm-border1: #424242;
    --dm-border2: #4c4c4c;

    --dm-text: #aaaaaa;

	--dm-tile-border: #303030;
    --dm-tile-filter: brightness(0.6) invert(1) contrast(5) hue-rotate(180deg) saturate(0.6) brightness(0.7);
}

body {
	margin: 0;
}

path {
	fill-opacity: 1;
}
svg {
	opacity: 0.3;
}

.fas {
	font-size: 28px;
	background-size: 44px 44px;
	width: 44px !important;
	height: 44px !important;
}

.fas:before {
	color: black;
	position: absolute;
	margin: 7px 8px;
	right: 0;
}

*:has(> .fas) {
	background-size: 44px 44px;
	width: 44px;
	height: 44px;
}

body:has(label:first-of-type input[type=checkbox]:checked):has(label:last-of-type input[type=radio]:not(:checked)) .leaflet-tile {
    filter: var(--dm-tile-filter, none) !important;
}

body:has(label:first-of-type input[type=checkbox]:checked) .leaflet-container {
    background: var(--dm-tile-border) !important;
}

body:has(label:first-of-type input[type=checkbox]:checked) .leaflet-control,
body:has(label:first-of-type input[type=checkbox]:checked) .leaflet-bar a {
    background: var(--dm-bg1) !important;
    color: var(--dm-text) !important;
    border: 1px solid var(--dm-border1) !important;
}

body:has(label:first-of-type input[type=checkbox]:checked) .leaflet-control:hover,
body:has(label:first-of-type input[type=checkbox]:checked) .leaflet-bar a:hover {
    background: var(--dm-bg2) !important;
    border: 1px solid var(--dm-border2) !important;
}

body:has(label:first-of-type input[type=checkbox]:checked) .fas:before {
    color: var(--dm-text) !important;
}

input[type=checkbox] + span,
input[type=radio] + span {
    user-select: none;
}